{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "jsx": true,
      "templateStrings": true,
      "modules": true,
      "experimentalObjectRestSpread": true,
      "spread": true
    }
  }
}
