li.authorization-list-item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 24px;
  margin: 0;
  gap: 0;
  background-color: var(--surface-color-background-light);
  border: 1px solid var(--surface-color-border-light);
  color: var(--typography-color-primary);
  font-size: 16px;
}