.data-layers-checkbox-group {
  gap: 24px;
}

.data-layers-checkbox-group.data-layers-checkbox-group--small {
  gap: 32px;
  scrollbar-width: none;
}

.data-layers-top-section {
  gap: 8px;
  padding: 0 8px;
}

.data-layers-checkbox-group--small .data-layers-top-section {
  padding: 0;
}

button.layer-button {
  color: black;
  text-transform: none;
  text-decoration: none;
}

button.layer-button:hover {
  text-decoration: underline;
}

p.data-layers-top-text,
.data-layers-top-link {
  color: var(--typography-color-disabled);
  font-size: 14px;
}

.data-layers-top-text a {
  display: inline;
  white-space: normal;
  word-break: normal;
  color: var(--typography-color-disabled);
  text-decoration: underline;
}

.available-layers-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  flex: 0 0 28px;
}

p.available-layers-text {
  color: var(--typography-color-primary);
  font-size: 18px;
  font-weight: 700;
}
