footer.footer {
  display: flex;
  color: #ffffff;
  background-color: var(--surface-color-primary-default);
  padding: 24px;
}

div.footer-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--layout-margin-small);
  align-self: stretch;
}

.footer a {
  color: #FFF;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-divider {
  height: 1em;
  border-color: #ffffff;
  align-self: center;
  margin: 0 4px;
}

button.footer-scroll-button {
  position: fixed;
  width: 40px;
  height: 40px;
  min-width: 40px;
  bottom: 12px;
  padding: 0;
  background-color: var(--surface-color-brand-gold-60);
  color: var(--icons-color-primary);
  z-index: 9;
}

button.footer-scroll-button:hover {
  background-color: var(--surface-color-brand-gold-50);
  color: black;
}

button.footer-scroll-button--shift-up {
  bottom: 88px;
}