.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  color: var(--typography-color-primary);
  text-transform: none;
  text-decoration: none;
}
