.horizontal-scroller-container {
  width: 100%;
  position: relative;
}

.horizontal-scroller {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: visible;
  overflow-x: hidden;
}

button.horizontal-scroller-button.MuiButton-root {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  min-width: 45px;
  height: 45px;
  padding: 0;
  margin: 0;
  background: var(--surface-color-primary-default);
  border-radius: 50%;
  box-shadow: var(--box-shadow-small);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

button.horizontal-scroller-button.horizontal-scroller-button--left {
  left: 16px;
}

button.horizontal-scroller-button.horizontal-scroller-button--right {
  right: 16px;
}