.compliance-table {
  border-radius: 4px 4px 0 0;
  border: 1px solid var(--surface-color-border-light);
}

.compliance-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 100px;
}

.compliance-table-cell {
  background-color: var(--surface-color-background-white);
  border-bottom: 1px solid #d8d8d8;
  color: var(--typography-color-secondary);
  padding: 8px;
  font-size: 12px;
}

.compliance-table-cell--no-data {
  color: var(--typography-color-secondary);
  text-align: center;
  padding: 24px;
  background-color: var(--surface-color-brand-gray-10);
  grid-column: 1 / -1; /* This makes it span all columns */
}

.compliance-table-header .compliance-table-cell {
  background-color: var(--surface-color-brand-gray-20);
  border-bottom-color: var(--surface-color-border-medium);
  border-right: 1px solid var(--surface-color-border-light);
  color: var(--typography-color-secondary);
  font-weight: 700;
}

.compliance-table-header .compliance-table-cell:last-child {
  border-right: none;
}

.compliance-table-header:first-child {
  border-radius: 4px 4px 0 0;
}

.compliance-table-cell a {
  color: var(--typography-color-link);
  text-decoration-line: none;
  font-size: 12px;
}

.compliance-table-cell--sortable {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.compliance-table-cell--sortable:hover {
  background-color: var(--surface-color-brand-gray-30);
}

.compliance-table-cell--sortable svg {
  width: 16px;
  height: 16px;
}

.view-link {
  color: var(--typography-color-primary);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.view-link svg {
  font-size: 14px;
}

.view-link:hover {
  text-decoration: underline;
}

.compliance-table-row:not(.compliance-table-header) > div:last-child {
  padding-left: 10px;
}
