.basemaps-list {
  position: absolute;
  bottom: 0;
  right: 60px;
  transform: translateY(-45%);
  background: var(--surface-color-background-white);
  border: 2px solid var(--surface-color-primary-active-border);
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 8px;
  display: flex;
  gap: 12px;
  box-shadow: var(--box-shadow-small);
}

.basemaps-list.hidden {
  display: none;
}

.basemap-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  width: 90px;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border: 2px solid var(--surface-color-border);
  background: var(--surface-color-background-white);
}

.basemap-option:hover {
  transform: scale(1.1);
}

.basemap-option img {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.basemap-option span {
  font-size: 12px;
  text-align: center;
  color: var(--surface-color-text);
}

.basemap-option.active {
  border-color: var(--surface-color-primary-active-border);
  box-shadow:
    0 0 0 3px var(--surface-color-primary-active-border),
    0 0 12px 4px rgba(24, 144, 255, 0.45);
}

.basemap-option.active img {
  border-color: var(--surface-color-border);
  box-shadow: none;
}
