.leaflet-marker-icon {
  transition: transform 0.2s ease-in-out;
  transform-origin: bottom center;
}

.leaflet-marker-icon:hover {
  transform: scale(1.2);
}

/* Prevent scaling of shadows */
.leaflet-marker-shadow {
  transition: none;
}
