.map-search-input {
  display: flex;
  min-width: 452px;
  max-width: 632px;
  transition: width ease-in-out 0.3s;
}

.map-search-input > .MuiInputBase-root {
  background-color: var(--surface-color-background-white);
  box-sizing: border-box;
  border-radius: var(--layout-border-radius-medium);
  border: 1px solid var(--surface-color-border-light);
  box-shadow: var(--box-shadow-small);
}

.map-search-input > .MuiInputBase-root.Mui-focused {
  border-color: var(--surface-color-primary-active-border);
}

.map-search-input > .MuiInputBase-root {
  height: var(--map-button-height-large);
  padding: var(--map-button-padding-large);
  padding-right: 0.5rem;
}

.map-search-input input {
  font-size: var(--map-button-font-size-large);
}

.map-search-icon {
  color: var(--icons-color-disabled);
}

.Mui-focused .map-search-icon {
  color: var(--icons-color-info);
}