.search-autocomplete .search-input {
  min-width: 350px;
  max-width: 632px;
  transition: width ease-in-out 0.3s;
}

div.search-autocomplete.MuiAutocomplete-hasClearIcon .MuiInputBase-root {
  padding-right: 16px;
}

.search-autocomplete .search-input-clear-button > .search-input-icon {
  width: 16px;
  height: 16px;
}
