.search-dialog--fixed-size .MuiPaper-root {
  width: 500px;
  /* Since we display 6 results max - 500px fits them all nicely */
  height: min(500px, calc(100vh - 128px));
}

.search-dialog--full-size .MuiPaper-root {
  margin: var(--header-height) 0 0;
  width: 100%;
  max-width: 100%;
  height: calc(100% - var(--header-height));
  max-height: none;
  border-radius: 0;
}

.search-dialog--full-size .MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.01);
}

.search-dialog-titlebar {
  align-items: center;
  gap: 8px;
  padding: 24px 16px;
  border-bottom: 1px solid var(--surface-color-border-light);
}

button.search-dialog-back-button {
  min-width: 40px;
  width: var(--map-button-height-medium);
  height: var(--map-button-height-medium);
  border-color: var(--surface-color-border-dark);
  color: var(--typography-color-primary);
}

.search-dialog-back-icon {
  width: 10px;
  height: 15px;
}

.search-dialog-input {
  flex: 1;
  height: var(--map-button-height-medium);
}

div.search-dialog-input div.MuiInputBase-root {
  box-shadow: none;
}

.search-dialog-input  input.MuiInputBase-input {
  padding: 0;
}

.search-dialog .search-input-icon {
  width: 16px;
  height: 16px;
}

.search-dialog .search-input-icon--close {
  width: 14px;
  height: 14px;
}

.search-dialog-list {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}