@import url('properties.css');

html, body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'BCSans';
  font-style: normal;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-Regular.woff')
    format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-Italic.woff')
    format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-weight: 700;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-Bold.woff')
    format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: 700;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-BoldItalic.woff')
    format('woff');
}

.spacer {
  flex: 1;
}

.spacer--fill {
  flex: 1 1 100%;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4e4e4e transparent;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 8px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button.MuiButton-sizeMedium {
  display: flex;
  align-items: center;
  padding: var(--layout-padding-small) var(--layout-padding-medium);
  height: 40px;
  font-size: 16px;
  font-weight: 400;
}

button.MuiButton-sizeMedium.button--square-padding {
  padding: var(--layout-padding-small);
}

button.MuiButton-outlinedPrimary {
  border: 1px solid var(--surface-color-primary-default);
  color: var(--surface-color-primary-default);
}

button.MuiButton-containedPrimary {
  background-color: var(--surface-color-primary-default);
  color: white;
}

button.MuiButton-containedPrimary:hover {
  background-color: #385a8a;
  color: white;
}
