html, body {
  height: 100%;
  width: 100%;
}

:root {
  --layout-margin-xsmall: 4px;
  --layout-margin-small: 8px;
  --layout-margin-medium: 16px;
  --layout-margin-large: 24px;
  --layout-padding-xsmall: 4px;
  --layout-padding-small: 8px;
  --layout-padding-medium: 16px;
  --layout-padding-large: 24px;
  --layout-border-radius-medium: 4px;

  --surface-color-primary-active-border: #2e5dd7;
  --surface-color-primary-default: #053662;
  --surface-color-secondary-hover: #edebe9;
  --surface-color-background-white: #ffffff;
  --surface-color-background-light: #faf9f8;
  --surface-color-border-light: #d8d8d8;
  --surface-color-border-hover: #b8b8b8;
  --surface-color-border-dark: #353433;
  --surface-color-brand-gray-60: #c6c5c3;

  --icons-color-info: #053662;
  --icons-color-disabled: #9f9d9c;
  --icons-color-secondary: #474543;

  --typography-color-primary: #2d2d2d;
  --typography-color-secondary: #474543;

  --support-borderColor-success: #42814a;

  --box-shadow-small: 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.1), 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.13);

  --header-height: 4em;
  --footer-height: 4em;
}

@font-face {
  font-family: 'BCSans';
  font-style: normal;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-Regular.woff')
    format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-Italic.woff')
    format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-weight: 700;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-Bold.woff')
    format('woff');
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: 700;
  src: url('../node_modules/@bcgov/bc-sans/fonts/BCSans-BoldItalic.woff')
    format('woff');
}

.authorization-map-container {
  margin-top: 1em;
  border-radius: 4px;
  z-index: 1;
}

.spacer {
  flex: 1;
}

.spacer--fill {
  flex: 1 1 100%;
}