.guidance-page {
  margin-top: var(--header-height);
}
.guidance-page a {
  color: black;
}
.guidance-page a:hover {
  color: var(--typography-color-link);
}

.interpret-section {
  background-color: var(--surface-color-background-light);
}

.interpret-yellow-bar {
  width: 140px;
  height: 6px;
  background-color: var(--surface-color-brand-gold-60);
  margin: 10px 0;
}

.interpret-section p {
  color: black;
}

.interpret-section .interpret-heading-large {
  color: #313132;
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
}

.interpret-section .interpret-heading-small {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.interpret-section .interpret-text {
  max-width: 851px;
  margin: var(--layout-margin-small) 0 var(--layout-margin-xxlarge);
  line-height: 27px;
}
.interpret-section .interpret-text:last-child {
  margin-bottom: 0;
}

.guidance-info {
  gap: var(--layout-margin-huge);
}

.guidance-info-icon {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  color: var(--icons-color-info);
}

.guidance-info .guidance-info-heading {
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.guidance-info .guidance-info-text {
  max-width: 851px;
  color: black;
  line-height: 27px;
}

.guidance-info-row {
  gap: var(--layout-margin-xlarge)
}

.guidance-info-column {
  display: flex;
  flex-direction: column;
  gap: var(--layout-margin-large)
}

.guidance-info-list {
  margin: 0;
  padding-left: 24px;
}
.guidance-info-list li {
  list-style: disc;
}
