
.map-view {
  width: 100%;
  height: calc(100vh - 4em);
  /* Header is fixed */
  padding-top: 4em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}

/* No footer on small screens - so use full height */
.map-view.map-view--small {
  height: 100vh; /* for old browser */
  /* Use dvh instead of vh otherwise on Chrome the address bar pushes map down */
  /* https://stackoverflow.com/questions/52848856/100vh-height-when-address-bar-is-shown-chrome-mobile#70048720 */
  height: 100dvh;
}

.map-view > .map-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}
