.map-bottom-drawer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--surface-color-background-light);
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid var(--surface-color-border-light);
  transition: height 0.5s ease-in-out;
}

.map-bottom-drawer.map-bottom-drawer--full-height {
  height: calc(100% - var(--header-height));
}

.map-bottom-drawer-titlebar {
  height: 69px;
  visibility: visible;
  display: flex;
  align-items: center;
  padding: 16px 16px 8px;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid var(--surface-color-border-light);
}

.map-bottom-drawer-title {
  flex: 1;
  text-align: center;
  color: var(--typography-color-primary);
  font-size: 16px;
  font-weight: 700;
}

button.map-bottom-drawer-button {
  width: 45px;
  height: 45px;
  padding: 0;
  color: var(--typography-color-primary);
}

.map-bottom-drawer-icon {
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.map-bottom-drawer-icon--invert {
  transform: rotate(180deg);
}

.map-bottom-close-icon {
  width: 32px;
  height: 32px;
}

.map-bottom-drawer-handle {
  position: absolute;
  top: 8px;
  left: calc(50% - 20px);
  width: 40px;
  height: 4px;
  background-color: var(--surface-color-brand-gray-60);
  border-radius: 8px;
}

.map-bottom-drawer-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  padding: 24px 16px 0 16px;
  gap: 24px;
}

.map-bottom-drawer-container .data-layers-checkbox-group,
.map-bottom-drawer-container .filter-by-checkbox-group {
  overflow: hidden auto;
  padding-bottom: 40px;
}