.search-results-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  padding: 0 0 24px 0;
  margin: 0;
  overflow: auto;
}

.search-results-list--no-scrollbars {
  scrollbar-width: none;
}

.search-results-list--no-scrollbars::-webkit-scrollbar {
  display: none;
}

.search-results-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.search-results-list li.search-results-list-item {
  padding: 24px;
}

