.search-results-pagination .MuiPaginationItem-root {
  color: #053662;
  background-color: #ffffff;
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-results-pagination .MuiPaginationItem-page:hover {
  background-color: #155691;
  color: #ffffff;
}

.search-results-pagination .MuiPaginationItem-page.Mui-selected,
.search-results-pagination .MuiPaginationItem-page.Mui-selected:hover {
  background-color: #053662;
  color: #ffffff;
  cursor: default;
}

