.search-results-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  padding: 0;
  margin: 0;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #4e4e4e transparent;
}

.search-results-list::-webkit-scrollbar {
  width: 8px;
}

.search-results-list::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 8px;
}

.search-results-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.search-results-list--no-scrollbars {
  scrollbar-width: none;
}

.search-results-list--no-scrollbars::-webkit-scrollbar {
  display: none;
}

.search-results-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.search-results-list li.search-results-list-item {
  padding: 24px;
}

