.link-section {
  overflow: hidden;
  background-color: var(--surface-color-base);
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color-base);
}

.link-section-header {
  background: var(--surface-color-primary-hover);
  color: white;
  padding: 17px 24px;
  font-weight: 700;
  font-size: 18px;
}

.link-section-content {
  padding: 8px 32px 32px;
}

@media (max-width: 900px) {
  .link-section-header {
    padding: 17px 16px;
  }

  .link-section-content {
    padding: 4px 24px 24px;
  }
}

.link-section:last-child {
  padding-bottom: 0;
  border-bottom: 0 none;
}

.link-section-top-bar {
  width: 36px;
  height: 4px;
  background-color: var(--surface-color-brand-gold-60);
  margin-bottom: 4px;
}

.link-section .link-section-title {
  color: var(--typography-color-primary);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.link-section .link-section-text {
  color: #000000;
  font-size: 18px;
  margin-bottom: 24px;
}

.link-section-list {
  margin: 0;
}

.link-section-list li {
  padding-bottom: 4px;
}

.link-section-list a {
  color: var(--typography-color-link);
  text-decoration-line: underline;
}
